<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Job Layout</title>
    {% endblock %}
</head>
<body>
{% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
<div id="header">
    {% block headr %}
        This is header.
    {% endblock %}
</div>
{% block sidebar %}
    <h3>Sidebar Content</h3>
{% endblock %}
<div id="content">
    {% block content %}+

        {% include 'list.html.twig' %}
        {% include 'parts/search.html.twig' %}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>
</body>
</html>